.header {
  padding: 15px;
  color: rgb(247, 234, 57);
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}
.conteiner-info {
  display: flex;
  justify-content: space-between;
}
// левая часть экрана
.left-side {
  color: lightyellow;
  text-align: center;
}
.wrapper-planet-card {
  padding: 25px;
  margin-top: 43px;
  border: 1px solid lightcoral;
  background-color:#c65541;
  border-radius: 50%;
  font-size: 16px;
  width: 240px;
  height: 200px;
}
.link {
  display: block;
  margin-top: 40px;
  text-align: center;
  color: rgb(247, 234, 57);
  font-size: 26px;
  font-weight: bold;
}
.link:hover {
  opacity: 0.8;
  transition: 0.4s;
}

// правая часть экрана
.wrapper-label {
  text-align: end;
  margin-bottom: 20px;
}
.right-side{
  width: 550px;
}
.planet-citizens {
  width:170px;
  padding: 10px;
  border: 1px solid rgba(239, 241, 236, 0.5019607843);
  background-color: rgba(117, 119, 117, 0.5803921569);
  border-radius: 10px;
  word-wrap: break-word;
}
.wrapper-citizen-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.check {
  color: aliceblue;
}
.checkbox-other {
  margin-right: 10px;
}

.header-card {
  color: rgb(247, 234, 57);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.description-card {
  color: lightyellow;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}